.Back{
    position: fixed;
    bottom: 5vh;
    left: 3vw;
    list-style-type: none;
}

.Back img{
    height: 3vw;
    width: auto;
}
.Content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.LateralPic{
    width: auto;
    height: 60vh;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 0px;
    margin-top: 5vh;
}

.Lateral{
    margin-right: 5vw;
    text-align: right;
    font-size: 2.25vw;
}

.InfoText{
    width: 55vw;
    font-size: 2.25vw;
    margin-left: 3vw;
}

.Hablamos{
    position: relative;
    margin-top: 15vh;
    font-size: 2.25vw;
}

.Desarrollada{
    font-size: 1.3vw;
    position: fixed;
    bottom: 3vh;
    right: 5vw;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    font-style: italic;
}