.Back{
    position: fixed;
    bottom: 5vh;
    left: 3vw;
    list-style-type: none;
}
.Back img{
    height: 6vh;
}

.InfoText{
    position: fixed;
    top: 0vh;
    left: 3vw;
    font-size: 4.5vh;
}

.Hablamos{
    position: fixed;
    top: 57.5vh;
    left: 3vw;
    font-size: 4.5vh;
}

.Contact{
    position: fixed;
    bottom: 17.5vh;
    right: 5vw;
    font-size: 4.5vh;
}
.Contact p{
    text-align: right;
}

.LateralPic{
    position: fixed;
    right: 5vw;
    top: 5vh;
}

.LateralPic img{
    width: 20vw;
    display: block;
    height: auto;
}