.Back {
  position: fixed;
  bottom: 5%;
  left: 3%;
  z-index: 6;
  list-style-type: none;
}
.Back img {
  height: 7vh;
  width: auto;
}

.InfoContent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.Lateral {
  margin-right: 5%;
  text-align: right;
  font-size: 2.25vw;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5%;
  width: 75%;
}

.LateralPic {
  width: 50%;
  height: auto;
  margin-right: 0px;
  margin-top: 5%;
  align-content: flex-end;
}

.InfoText {
  width: 110%;
  font-size: 2.25vw;
  margin-left: 3%;
}

.Hablamos {
  position: relative;
  margin-top: 15%;
  font-size: 2.25vw;
}

.Desarrollada {
  font-size: 1.3vw;
  position: fixed;
  bottom: 2.5%;
  right: 5%;
}

@media screen and (max-width: 600px) {
  .Back img {
    height: 4vh;
    width: auto;
    display: none;
  }
  .InfoContent {
    flex-direction: column;
  }
  .Lateral {
    font-size: x-large;
    margin-right: 1%;
    text-align: right;
    width: 96%;
    margin-top: 10%;
  }
  .LateralPic {
    display: none;
  }
  .InfoText {
    width: 90%;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
  }
  .Hablamos {
    font-size: x-large;
  }
  .Desarrollada {
    font-size: small;
  }
}
