.LidiaPortada {
  width: 100%;
  position: static;
  margin-top: 10vh;
  height: auto;
}

.LidiaText1 {
  width: 50%;
  font-size: 1.75em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9%;
}

.Pilares {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 9%;
}

.SistemaVisual {
  margin-left: 10%;
  font-size: 1.75em;
}

.LidiaVideo {
  width: 55%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9%;
}

.Composicion {
  width: 50%;
  font-size: 1.75em;
  margin-left: 22.5%;
}

.LidiaCuad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 9%;
}

.LidiaCuad img {
  width: 25vw;
  padding: 0.5%;
}

.LidiaInstagram {
  text-align: center;
  display: block;
  font-size: 1.75em;
  margin-top: 9%;
  margin-bottom: 9%;
}

@media screen and (max-width: 600px) {
  .LidiaPortada {
    margin-top: 12%;
  }
  .LidiaText1 {
    font-size: larger;
    width: 70%;
  }
  .Pilares {
    width: 100%;
    height: auto;
  }
  .SistemaVisual {
    font-size: larger;
    width: 80%;
  }
  .LidiaVideo {
    width: 80%;
    height: auto;
  }
  .Composicion {
    font-size: larger;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .LidiaCuad{
    width: 100%;
    height: auto;
    align-items: flex-start;
  }
  .LidiaCuad img {
    width: 30vw;
    height: auto;
    /* object-fit: contain; */
  }
  .LidiaInstagram {
    font-size: larger;
  }
}
