
.FistPhotosText{
    width: 100%;
    position: static;
    margin-top: 6%;
}

.FistPhotosText img{
    width: 100%;
    height: auto;
    position: static;
}

.image_on_back{
    margin-top: -5%;
    margin-left: 35%;
    position: relative;
    z-index: -1;
}

.FistPhotosText p{
    margin-left: auto;
    font-size: 1.9vw;
    margin-right: auto;
    width: 60vw;
    margin-top: 9%;
    margin-bottom: 9%;
}

.Superpuestas{
    position: static;
    margin-top: 9%;
    margin-bottom: 0;
}

.Superpuestas img{
    width: 55vw;
    height: auto;
}

.GifGuion{
    position: static;
    margin-top: 9%;
    display: flex;
    flex-direction: row;
}

.GifGuion video{
    width: 40%;
    height: auto;
}

.GifGuion p{
    margin-left: 5%;
    position: relative;
    margin-top: 5%;
    width: 28%;
    font-size: 1.9vw;
}

.Carteles{
    margin-top: 9%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Carteles img{
    width: 40vw;
    display: block;
    padding: 0.5%;
}

.TextoPlat{
    position: static;
    margin-top: 9%;
    width: 55%;
    margin-left: 9%;
    font-size: 1.9vw;
}

.TextoPlat br{
    display: block;
    margin-top: 3%;
    content: "";
}

.OasisRevista{
    position: static;
    margin-top: 9%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.OasisRevista img{
    width: 35vw;
    height: auto;
    padding-left: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 0;
}

.OasisProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 9%;
}

.OasisProducts img{
    width: 25vw;
    padding: 0.5%;
}
.OasisProducts video{
    width: 25vw;
    padding: 0.5%;
}

.OasisFilter{
    margin-top: 9%;
}
.OasisFilter video{
    width: 40vw;
    height: auto;
}

.OasisHab{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -30%;
}
.OasisHab video{
    width: 40vw;
    height: auto;
}

.EquipoOasis{
    display: flex;
    justify-content: center;
    margin-top: 9%;
}
.EquipoOasis img{
    width: 70vw;
    height: auto;
}
.TextoEquipoOasis{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.9vw;
    margin-top: 2.5%;
    margin-bottom: 5%;
}