.PortadaRosas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
.PortadaRosas img{
    width: 100%;
    height: auto;
}

.PortadaRosas p{
    width: 52.5%;
    font-size: 2vw;
    margin-top: 9%;
}

.CocheyActriz{
    margin-top: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.CocheyActriz img{
    padding: 0.5%;
    width: 60%;
}

.Mesa {
    margin-top: 9%;
    width: 80%;
    height: auto;
}

.Lavabo{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 1%;
}

.Lavabo img{
    width: 80%;
    height: auto;
}

.TextoRosas{
    margin-top: 9%;
    margin-left: 10%;
    font-size: 2vw;
    width: 50%;
}

.Cajas{
    margin-top: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Cajas img{
    width: 70%;
    height:auto;
}

.Coche{
    width: 100%;
    height: auto;
    margin-top: 9%;
}

.EquipoRosas{
    margin-top: 4%;
    margin-bottom: 5%;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}