.Name li{
    list-style-type: none;
}

.Name li a{
    text-decoration: none;
    text-transform: none;
    color:black;
}
.Name li a:hover{
    font-style: italic;
}
.Name li a:visited{
    text-decoration: none;
    color: black;
}