
.FistPhotosText{
    width: 100%;
    position: static;
    margin-top: 10vh;
}

.FistPhotosText img{
    width: 100%;
    height: auto;
    position: static;
}

.FistPhotosText p{
    margin-left: auto;
    font-size: 1.9vw;
    margin-right: auto;
    width: 60vw;
    margin-top: 17.5vh;
    margin-bottom: 17.5vh;
}

.Superpuestas{
    position: static;
    margin-top: 17.5vh;
    margin-bottom: 0;
}

.Superpuestas img{
    width: 55vw;
}

.GifGuion{
    position: static;
    margin-top: 17.5vh;
    display: flex;
    flex-direction: row;
}

.GifGuion video{
    width: 40vw;
    height: auto;
}

.GifGuion p{
    margin-left: 3.5vw;
    position: relative;
    margin-top: 10vh;
    width: 27.5vw;
    font-size: 1.9vw;
}

.Carteles{
    margin-top: 17.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Carteles img{
    width: 40vw;
    display: block;
    padding: 8px;
}

.TextoPlat{
    position: static;
    margin-top: 17.5vh;
    width: 60vw;
    margin-left: 9.5vw;
    font-size: 1.9vw;
}

.TextoPlat br{
    display: block;
    margin-top: 3.25vh;
    content: "";
}

.OasisRevista{
    position: static;
    margin-top: 17.5vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.OasisRevista img{
    width: 35vw;
    height: auto;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 0;
}

.OasisProducts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 17.5vh;
}

.OasisProducts img{
    width: 25vw;
    padding: 8px;
}
.OasisProducts video{
    width: 25vw;
    padding: 8px;
}

.OasisFilter{
    margin-top: 17.5vh;
}
.OasisFilter video{
    width: 40vw;
    height: auto;
}

.OasisHab{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -20rem;
}
.OasisHab video{
    width: 40vw;
    height: auto;
}

.EquipoOasis{
    display: flex;
    justify-content: center;
    margin-top: 17.5vh;
}
.EquipoOasis img{
    width: 70vw;
    height: auto;
}
.TextoEquipoOasis{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.9vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}