
.Oasis1{
    width: 100%;
    position: static;
    margin-top: 10vh;
}

.Oasis1 img{
    width: 100%;
    height: auto;
    position: static;
}

.Oasis1 p{
    margin-left: auto;
    font-size: 1.9vw;
    margin-right: auto;
    width: 60vw;
    margin-top: 17.5vh;
    margin-bottom: 17.5vh;
}

.Oasis2{
    position: static;
    margin-top: 17.5vh;
    margin-bottom: 0;
}

.Oasis2 img{
    width: 55vw;
}

.Oasis3{
    position: static;
    margin-top: 17.5vh;
    display: flex;
}

.Oasis3 img{
    width: 40vw;
    height: auto;
    flex: 35%;
}

.Oasis3 p{
    margin-left: 3.5vw;
    position: relative;
    margin-right: 25vw;
    margin-top: 10vh;
    flex: 75%;
    font-size: 1.9vw;
}

.Oasis4{
    margin-top: 17.5vh;
}

.Oasis4 img{
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Oasis5{
    position: static;
    margin-top: 17.5vh;
    width: 60vw;
    margin-left: 9.5vw;
    font-size: 1.9vw;
}

.Oasis5 br{
    display: block;
    margin-top: 3.25vh;
    content: "";
}

.Oasis6{
    position: static;
    margin-top: 17.5vh;
    padding-bottom:10px; display: flex; 
    flex-wrap: wrap; 
    align-items: flex-end;
}

.aux6{
    margin-left: auto;
}
.Oasis6 img{
    width: 75vw;
}

.Oasis7{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 17.5vh;
}

.Oasis7 img{
    width: 25vw;
    padding: 0.25em;
}
.Oasis7 video{
    width: 25vw;
    padding: 0.25em;
}