.Fixed {
  text-align: left;
}

.Information{
  position: fixed;
  bottom: 5vh;
  right: 4vw;
  font-size: 2.5vw;
}

.Center{
  font-size: 4vw;
  margin: 0;
  position: absolute;
  top: 47.5%;
  left: 47.5%;
  transform: translate(-47.5%, -47.5%);
  text-align: center;
}

.Center br{
  display: block;
  margin-top: -1vh;
  content: "";
}

.Center sup{
  font-size: 2.25vw;
}

/*PHOTO HOVER*/
.hover-title {
  display: inline;
  pointer-events: auto;
}
.hover-title:hover{
  font-style: italic;
}

.hover-image {
  display: none;
}

.hover-title:hover + .hover-image{
  display: flex;
  pointer-events: none;
  font-style: italic;
}

.hover-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 70vw;
  height: 65vh;
}

.hover-image video{
  max-width: 100%!important;
  max-height: 100%!important;
  width: auto!important;
  height: auto!important;

}

.hover-image img{
  max-width: 100%!important;
  max-height: 100%!important;
  width: auto!important;
  height: auto!important;
}