.Fixed {
  text-align: left;
}

.Name{
  position: fixed;
  top: 3vh;
  left: 3vw;
  font-size: 2.5vw;
  font-style: normal;
}

li{
  list-style-type: none;
}

li a{
  text-decoration: none;
  text-transform: none;
  color:black;
}
li a:hover{
  font-style: italic;
}
li a:visited{
  text-decoration: none;
  color: black;
}
.LeftArrow{
  position: fixed;
  bottom: 5vh;
  left: 3vw;
  z-index: 6;
  list-style-type: none;
}

.LeftArrow img{
  height: 3vw;
}
.RightArrow{
  position: fixed;
  bottom: 5vh;
  right: 3vw;
  z-index: 6;
  list-style-type: none;
}

.RightArrow img{
  height: 3vw;
}



.Information{
  position: fixed;
  bottom: 5vh;
  right: 4vw;
  font-size: 2.5vw;

}

.Center{
  position: relative;
  font-size: 4vw;
  text-align: center;
  margin-top: 27.5vh;
  margin-left: auto;
  margin-right: auto;
  cursor: url("https://svg-clipart.com/clipart/yellow/dWQr9hf-yellow-dot-clipart.png"), auto;
}
.Center img{
  height: 75vh;
}

.Center video{
  height: 65vh;
}

.Center br{
  display: block;
  margin-top: -1vh;
  content: "";
}

.Center sup{
  font-size: 2.25vw;
}

/*PHOTO HOVER*/
.hover-title {
  display: inline;
  pointer-events: auto;
  cursor: pointer;
}
.hover-title:hover{
  font-style: italic;
}

.hover-image {
  display: none;
}

body:not(.mobile) .hover-title:hover + .hover-image {
  display: flex;
  pointer-events: none;
  font-style: italic;
}

.hover-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

/* Change width and height to scale images */
  width: 60vw;
  height: 60vh;
}

.hover-image img {
  max-width: 100% !important;
  max-height: 100% !important;
  width: auto !important;
  height: auto !important;
  margin-bottom: 0;
}