.Fixed {
  text-align: left;
}

.Information{
  position: fixed;
  bottom: 5vh;
  right: 4vw;
  font-size: 2.5vw;
}

.Center{
  font-size: 4vw;
  margin: 0;
  position: absolute;
  top: 47.5%;
  left: 47.5%;
  transform: translate(-47.5%, -47.5%);
  text-align: center;
}

.Center br{
  display: block;
  margin-top: -1vh;
  content: "";
}

.Center sup{
  font-size: 2.25vw;
}

/*PHOTO HOVER*/
.hover-title {
  display: inline;
  pointer-events: auto;
}
.hover-title:hover{
  font-style: italic;
}

.hover-image {
  display: none;
}

body:not(.mobile) .hover-title:hover + .hover-image {
  display: flex;
  pointer-events: none;
  font-style: italic;
}

.hover-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 70vw; */
  /* height: 120vh; */
}
.hover-image video {
  /* max-width: 120vw !important; */
  /* max-height: 120vh !important; */
  margin-bottom: 0;
  /* width: 70vw; */
  height: 62.5vh;
  width: auto;
}

.hover-image img {
  /* max-width: 75vw!important;
  max-height: 60vh !important; */
  margin-bottom: 0;
  height: 75vh;
  width: auto;
}