.EgoPortada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.EgoPortada img{
    width: 100%;
    height: auto;
}

.EgoPortada p{
    width: 40vw;
    font-size: 2vw;
    margin-top: 17.5vh;
    margin-left: -10vw;
}

.Bienvenida{
    margin-top: 17.5vh;
}
