*{
  cursor: none;
}

body {
  margin: 0;
  font-family: HelveticaNeue, HelveticaNeueItalic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  cursor: url("https://svg-clipart.com/clipart/yellow/dWQr9hf-yellow-dot-clipart.png"), auto;
}

@font-face{
  font-family: "HelveticaNeue";
  src: local("HelveticaNeue"), url("./fonts/HelveticaNeue.ttf") format("truetype");
}
@font-face{
  font-family: "HelveticaNeueItalic";
  src: local("HelveticaNeueItalic"), url('./fonts/HelveticaNeue-Italic.ttf') format("truetype");
  font-style: italic;
}
@font-face{
  font-family: "HelveticaNeueBold";
  src: local("HelveticaNeueBold"), url('./fonts/HelveticaNeueBold.ttf') format("truetype");
  font-style: bold;
}
.cursor{
  width: 2rem;
  height: 2rem;
  border: 0px solid yellow;
  background: yellow;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
