html, body{
  
}

body {
  margin: 0;
  font-family: HelveticaNeue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  cursor: url("https://svg-clipart.com/clipart/yellow/dWQr9hf-yellow-dot-clipart.png"), auto;
}

@font-face{
  font-family: "HelveticaNeue";
  src: local("HelveticaNeue"), url("./fonts/HelveticaNeue/HelveticaNeueRegular.ttf") format("truetype");
  font-weight: bold;
}

